*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: black;
}
article img{
    height: 50px;
    width: 55px;
    margin: 40px;
}

header{
    margin-top: 40px;
    display: flex;
    width: 100%;
    margin-left: 80%;
}
.button button{
    padding: 1rem 2rem;
    font-size: 14px;
    border-radius: 40px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.button #sign_up{
    background-color: white;
    color: black;
    margin-left: 10px;
}

article{
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 10%;
}
article #search{
    width: 30%;
    border-radius: 40px;
    border: 1px solid #414246;
    background-color: black;
    padding: 0.9rem;
    color: #777777;
    font-size: 16px;
}

.tag{
    margin-top: 30px;
}
.tags{
    margin-top: 10px;
}
.tags a{
    color: #777777;
    text-decoration: none;
    padding: 1rem;
}
.tags a:hover{
    color: rgb(67, 133, 255);
}
.tags .show_more{
    color: rgb(67, 133, 255);
}
.tags .show_more:hover{
    color: rgb(151, 188, 255);
}

footer{
    text-align: center;
    justify-content: center;
    background-color: #414246;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    position: absolute;
    margin-top: 17.8%;
}

.foot a{
    padding: 2px;
    margin: 1px;
    text-decoration: none;
    color: #777777;
}
.foot a:hover{
    color: rgb(67, 133, 255);
}


